html {
    background-color: #7d2663;
    font-family: sans-serif;
}

h1 {
    margin: 0;
    font-size: 15vw;
    letter-spacing: -0.2rem;
    position: absolute;
    top: 0;
    color: rgba(150, 150, 150, 0.5);
    z-index: -1;
}

.controls {
    padding: 2vw;
    width: 75%;
    margin: 3vw auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 5px solid black;
    opacity: 0.5;
    transition: 1s all;
}

.controls:hover, .controls:focus {
    opacity: 1;
}

.controls form, .controls input, .controls option {
    font-size: 2vw;
    padding-bottom: 1rem;
}

.content {
    padding: 2vw;
    width: 75%;
    margin: 3vw auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px dotted rgb(214, 99, 22);
    transition: 1s all;
    opacity: 1;
}

.content legend {
    font-size: 2vw;
    -webkit-text-stroke-color: rgb(252, 252, 248);
    -webkit-text-stroke-width: 0.5px;
}

#btn {
    width: 75%;
    font-size: 3vw;
    margin: 1vw auto;
}
#btn button {
    font-size: 3vw;
    color: rebeccapurple;
    background: linear-gradient(to bottom,
          #fc340b 0%,
          #ffffff 50%,
          #fc340b 100%);
    box-shadow: rgb(0, 0, 0) 1px 1px 2px 2px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    -webkit-text-stroke-color: rgb(252, 252, 248);
    -webkit-text-stroke-width: 0.5px;
}

button:hover {
    background: #1C6EA4;
}

button:active {
    background: #144E75;
}